<div class="col-md-6 center">
 <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" id="username"  type="text" class="form-control" [(ngModel)]="data.Name"  >
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
         <div *ngIf="username.errors.required">username required.</div>
         <div *ngIf="username.errors.minlength">username required min {{username.errors.minlength.requiredLength}} characters.</div>
         
     </div>
   </div> 
   <div class="form-group">
        <label for="email">Email</label>
        <input  formControlName="email" id="email" type="email" class="form-control" [(ngModel)]="data.email">
        <div *ngIf="(form.controls.email.invalid && form.controls.email.touched) || form.controls.email.dirty">
            <div *ngIf="form.controls.email.errors.required" class="alert alert-danger"> Email is required</div>
            <div *ngIf="form.controls.email.errors.pattern" class="alert alert-danger">Please provide a valid email address</div>
        </div>
    </div>
    <div class="form-group">
          <label for="gender">Gender: </label>
        <input type="radio" class="marginLeft10" name="gender" value='Male' formControlName="gender" [(ngModel)]="data.gender"> Male
        <input type="radio" name='gender' value='Female' formControlName="gender" [(ngModel)]="data.gender"> Female
        <input type="radio" name="gender" value='Other' formControlName="gender" [(ngModel)]="data.gender"> Others
   </div>
      <div class="form-group">
        <label for="phnNumber">Mobile</label>
        <input formControlName="phnNumber" name="phoneNumber" id="phnNumber" type="number" class="form-control" [(ngModel)]="data.phnNumber" >
         <div *ngIf="form.controls.phnNumber.touched && form.controls.phnNumber.invalid" class="alert alert-danger">
            <div *ngIf="form.controls.phnNumber.errors.required">phoneNumber required.</div>
            <div *ngIf="form.controls.phnNumber.errors.minlength">phoneNumber minimum length  required.</div>
            
        </div>
    </div>
     <div class="form-group">
        <label for="password">Password</label>
        <input  formControlName="password"id="password" type="password"  class="form-control" [(ngModel)]="data.pwd">
         <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
            <div *ngIf="password.errors.required">password required.</div>
            <div *ngIf="password.errors.minlength">password required min {{password.errors.minlength.requiredLength}} characters.</div>
           
        </div>
    </div>
 <div>
    <label for="checkbox"></label>
    <input type="checkbox" id="cb" class="checkbox" formControlName="cb" (change)="isFormValid($event)"> Form Validation.
 </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid" (click)="submitForm(form)">submit</button>
</form>
</div>
<div class="col-md-6 center">
    <ul> 
    <table class="table">
        <tr *ngFor="let data of dataArray; let i = index">
            <td>{{i}}</td>
            <td>{{data.Name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.phnNumber}}</td>
            <td>{{data.pwd}}</td>
            <td><a href="javascript:void(0)" (click)="getData(i)">edit</a></td>
            <td><a href="javascript:void(0)" (click)="delete(i)">delete</a></td>
        </tr>
    </table>
    </ul>
</div>